menu {
  display: block;
  position: relative;
  color: 0;
}

menu .links {
  display: inline;
  text-align: center;
  position: absolute;
}

menu .link1 {
  display: inline;
}

menu .link2 {
  display: inline;
}

menu .link3 {
  display: inline;
}

menu .link4 {
  display: inline;
}
